@import "theme";

// Global
$--color-primary: $primary-color;
$--color-success: $green;
$--color-warning: $yellow;
$--color-danger: $red;
$--color-text-regular: $dark-body-grey;
$--color-text-primary: $dark-body-grey;
$--border-color-light: $background-color;
$--border-color-base: $light-body-grey;
$--font-size-extra-large: 28px;
$--font-size-large: 20px;
$--font-size-medium: 18px;
$--font-weight-primary: 400;
$--font-weight-secondary: 300;
$--border-radius-circle: 100%;

// Local
//$--button-border-radius: $--border-radius-small;
//$--button-medium-border-radius: $--border-radius-small;
$--calendar-selected-background-color: $background-color;
$--dialog-title-font-size: 22px;
//$--dialog-font-line-height: $--font-line-height-primary;
$--input-placeholder-color: $light-body-grey;
$--notification-title-font-size: 16px;
$--pagination-font-size: 13px;
$--popup-modal-opacity: 0.5;
$--popup-modal-background-color: #000000;
$--radio-checked-input-border-color: $--color-primary;
$--radio-checked-icon-color: $--color-primary;
$--radio-checked-input-background-color: $white;
$--radio-icon-color: $--color-primary;
$--radio-input-background-color: $white;
$--switch-on-color: $--color-primary;
$--table-row-hover-background-color: $background-color;
$--tag-font-size: 13px;
$--tooltip-color: $white;
//$--tooltip-fill: $--color-info;
//$--tooltip-border-color: $--color-info;
$--transfer-panel-width: 300px;
//$--tree-expand-icon-color: $--color-text-placeholder;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body {
  font-family: $main-font-family;
}
