@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Color Palette
$white: #fff;
$black: #000;
$blue: #3333FF;
$blue-sub: #6666FF;
$cyan: #33CCCC;

// $orange: #FF8360;
$green: #00CC66;
$red: #FF3333;
$yellow: #F9C80E;
$purple: #6633CC;

$blue-fill: #EBEBFF;
$blue-sub-fill: #F0EBFA;
$cyan-fill: #E9FAFA;
$green-fill: #E5FAF0;
$red-fill: #FFEBEB;
$yellow-fill: #FEF9E7;
$purple-fill: #F5EBFA;


$heading-grey: #737581;
$dark-body-grey: #333333;
$light-body-grey: #CCCCCC;
$background-color: #F4F5FC;

// Default Variables
$primary-color: $blue;
$primary-fill: $blue-fill;
$primary-color-sub: $blue-sub;
$primary-color-sub-fill: $blue-sub-fill;
$secondary-color: $cyan;
$secondary-fill: $cyan-fill;
$success-color: $green;
$success-fill: $green-fill;
$warning-color: $yellow;
$warning-fill: $yellow-fill;
$danger-color: $red;
$danger-fill: $red-fill;
$info-color: $heading-grey;
$guest-color: $purple;
$guest-color-fill: $purple-fill;

$site-content-text-color: $dark-body-grey;
$standard-label-color: $background-color;
$placeholder-color: $background-color;
$input-value-color: $background-color;
$help-text-color: $background-color;
$disables-opacity: 0.25;
$main-font-family: 'Lato', sans-serif;
$primary-background-color: $background-color;
$light-color: $light-body-grey;
$dark-color: $dark-body-grey;


/* Title - Lato B48 */
.title {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: $dark-body-grey;
}

/* Heading - Lato B36 */
.heading {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: $dark-body-grey;
}

/* Body Bold - Lato B16 */
.body-bold {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $dark-body-grey;
}

/* Body 2 Bold - Lato B20 */
.body-2-bold {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $dark-body-grey;
}

/* Body Reg - Lato R16 */
.body-reg {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $dark-body-grey;
}

/* Body 2 Reg - Lato R20 */
.body-2-reg {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: $dark-body-grey;
}

/* Footer - Lato R14 */
.footer {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark-body-grey;
}

/* Info - Lato R12 */
.info {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $info-color;
}

.cancel-button {
  color: $heading-grey;
}

.plain-style {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 33px;
  border-radius: 25px;
}

.ws-button {
  color: $primary-color;
  font-family: $main-font-family;
}

.button-style {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border-color: transparent;
  padding: 11px 33px;
  color: $white;
}

.h-border {
  border-radius: 5px;
}

.card-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 17px rgba(115, 117, 129, 0.25);
  // border-radius: 20px;
}

.dropdown-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 6px 6px;
  border-color: transparent;
}

.button-pill {
  width: 110px;
  border-radius: 25px;

  .el-checkbox-button__inner {
    border-radius: 25px !important;
    border-color: transparent;
  }
}

.maps {
  .el-menu-item {
    height: auto;
    white-space: normal;
    word-break: break-word;
  }

  .el-menu-item.is-hover {
    background: none !important;
    color: $primary-color;
  }
}